main{
    max-width: 850px;
}
aside{
   width: 20rem;
   margin: 1rem;
   border: 1px solid rgb(0 0 0 / 0.2);
   padding: 1rem;
   background-color: #eeee;
   color: #000;
   text-align: center;

}
aside img{
    width: 200px;
    height: auto;
    
}
main img{
    width: 150px;
    height: auto;
}
p{
    margin: 0;

}
footer{
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #000;


    
}